:root {
  --font-family: 'Roboto', sans-serif;
  --background: #37404a;
  --white: #fff;
  --black: #000;
  --green: #85ffc7;
  --grey: #333;
}

// General
* {
  outline: 0 !important;
}

body {
  padding: 2% 0;
  background-color: var(--background);
  font-family: var(--font-family);
}

h1 {
  font-size: 2.2em;
  font-weight: 300;
  color: var(--green);
  text-transform: uppercase;
}

p {
  font-size: 1.1em;
  font-weight: 300;
  color: var(--white);
}

a {
  color: var(--white);
  &:hover {
    text-decoration: none;
    color: var(--white);
  }
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 600px) {
  body {
    padding: 8% 0;
  }
}
